.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title{
  color: #0070F3;
  text-decoration: none;
}

.container{
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroImage{
  position: absolute;
  top: 0;
  z-index: 1;
}

.cardLayout{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 1.5rem ;
  row-gap: 1.5rem;
}


/* Mobile */
@media (max-width: 700px) {
  .heroImage{
    right: 20%;
    width: 400;
  }
  .cardLayout{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 1.5rem ;
    row-gap: 1.5rem;
  }
  
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .heroImage{
    right: 20%;
    width: 400;
  }
  .cardLayout{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.5rem ;
    row-gap: 1.5rem;
  }
  
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
